.container {
  text-align: center;
}

.title {
  color: white;
  margin-top: 60px;
  font-size: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.title span {
  color: rgb(215, 213, 147);
  margin-left: 15px;
}

.reset {
  width: 250px;
  height: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(85, 48, 119);
  color: rgb(215, 213, 147);
  border-radius: 50px;
  font-size: 26px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.boxes {
  display: flex;
  height: 180px;
  width: 180px;
  background-color: rgb(82, 38, 124);
  border: 4px solid rgb(59, 34, 82);
  border-radius: 12px;
  cursor: pointer;
}

.board {
  display: flex;
  height: 600px;
  width: 564px;
  margin: auto;
}

.boxes img {
  margin: 40px 40px;
}

.title img {
  padding: 16px 16px;
  width: 55px;
}
